.countdown-component {

    max-width: 448px;

    &.light {
        h2 {
            color: var(--dark-2);
        }

        .tiles-container {
            .tile {
                background-color: #EEF2FF;

                h3 {
                    color: var(--purple-1);
                }
            }
        }
    }

    h2 {
        color: var(--white);
        letter-spacing: 5px;
        text-transform: uppercase;
        font-size: 1rem;

        span {
            color: var(--purple-1);
        }
    }

    .tiles-container {
        display: grid;
        gap: 13px;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 23px;
        text-align: center;

        .tile {
            padding: 22px 10px;
            border-radius: 4px;
            background-color: var(--dark-1);
            text-align: center;

            h3 {
                color: var(--white);
                font-size: 2rem;
            }

            p {
                font-weight: 700;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .countdown-component {
        .tiles-container .tile {
            h3 {
                font-size: 3rem;
            }

            padding: 12px 10px;
        }
    }
}