.footer-home-component {
    padding: 104px 24px 24px;
    position: relative;

    .countdown-section {
        text-align: center;
        display: flex;
        flex-flow: column;
        max-width: 448px;
        margin: 0 auto;

        .countdown-component {
            width: 100%;
        }

        .button-area {
            margin-top: 30px;
        }
    }

    .bg {
        position: absolute;
        width: 100%;
        background-color: var(--dark-2);
        height: 1260px;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-image: url('../assets/home/bg-pattern-footer.svg');
        background-size: 1202px;
        background-repeat: no-repeat;
        background-position: top 80px center;
    }

    .attribution-section {
        max-width: 1110px;
        margin: 0 auto;
        margin-top: 30px;
        padding: 24px;
        color: var(--white);
        line-height: 1.6;
        text-align: center;
        word-break: keep-all;

        a {
            text-decoration: none;
            color: var(--purple-1);
            font-weight: 700;
            transition: color .1s ease-in;
            cursor: pointer;

            &:hover {
                color: var(--purple-2);
            }
        }

        p {
            color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 20px;
                margin: 0 6px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .footer-home-component {
        .bg {
            height: 1000px;
            background-position: top 140px center;
        }
    }
}

@media screen and (min-width: 1110px) {

    .footer-home-component {
        padding: 39px;

        .bg {
            height: 690px;
            background-size: 2036px;
            background-position: top -600px left -700px;
        }

        .countdown-section {
            grid-template-columns: repeat(2, 1fr);
            max-width: 1110px;
            justify-content: space-between;
            align-items: center;
            flex-flow: unset;

            .countdown-component {
                text-align: left;
            }

        }
    }
}